#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    width: 20%;
    padding: 20px 40px;
}

#login h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin: 10px 0;
    margin-bottom: 20px;
    width:auto;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
}

input#password {
    margin-bottom: 5px;
}

#body a {
    font-size: small;
    text-decoration: underline;
}

#body a:hover {
    color: var(--text-color);
}

#passwordForgotten-link {
    margin-bottom: 20px;
    text-align: right;
}

#signin-link {
    /* margin-bottom: 10px; */
    text-align: center;
}

button {
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--background-color);
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

button:hover {
    color: var(--text-color);
    border-color: var(--text-color);
    background-color: var(--variant-background);
}