.light-theme {
    --background-color: #121042;
    --variant-background: #0a0924;
    --body-color: #0D0C31;
    --text-color: #BFEDEF;
    --secondary-text-color: #ffffff;
    --footer-background-color: #090821;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #f5f5f5; */
}


a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

a:hover {
    color: var(--text-color);
}

a#offers {
    color: #e10000 !important;
}

nav {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

nav svg {
    fill: var(--secondary-text-color);
}

svg:hover {
    fill: var(--text-color);
}

nav ul {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    padding: 0;
    list-style-type: none;
    font-size: large;
}

#nav-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 25%;
}

#nav-categories li {
    margin: 0 15px;
}

nav h2 {
    flex: 1;
    text-align: center;
}

#nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 0;
}

#nav-icons li {
    margin: 0 15px;
}

#body {
    flex: 1;
    margin-top: 80px;
    padding: 20px;
    background-color: var(--body-color);
    /* text-align: center; */
    color: var(--secondary-text-color);
}

/* FOOTER */

footer {
    background-color: var(--footer-background-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    max-width: 100%;
}

footer a {
    color: var(--secondary-text-color);
}

footer svg {
    fill: var(--secondary-text-color);
}

#footer-top {
    display: flex;
    justify-content: space-around;
}

#footer-top h4 {
    margin-bottom: 10px;
}

#footer-top svg {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

#footer-top div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#footer-top a:hover {
    text-decoration: underline;
}

#lang div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#footer-bottom ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#footer-bottom ul li {
    margin: 0 10px;
}