/* SLIDER/SCROLLER SECTION */

.scroller {
    max-width: 100%;
    /* overflow: hidden; */
 }

 .scroller_inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
 }

.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="left"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="right"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 10s;
}

.scroller[data-speed="medium"] {
  --_animation-duration: 30s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 80s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - .5rem));
  }
  
}

.product-card {
  display: flex;
  width: 230px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-card .opacity-cover {
  width: 230px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ABOUT US SECTION */

#about-us-section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#about-us-section a:hover {
    color: var(--text-color);
    border-color: var(--text-color);
    background-color: rgb(191, 237, 239, 0.1);
}